---
import Birthday from "~/components/Countdown/Birthday";
import HeroImage from "~/components/hero-image.astro";
import Lottie from "lottie-react";
import Candles from "~/components/lotties/candles.json";
---

<footer class="relative flex h-64 items-center justify-center">
  <div class="absolute inset-0 overflow-hidden opacity-40">
    <HeroImage />
  </div>
  <ul class="relative grid grid-cols-2 gap-4 sm:grid-cols-4">
    <Birthday name={"Ivonne"} month={12} day={8} client:load/>
    <Lottie animationData={Candles} width={20} loop client:load/>
  </ul>
</footer>
